@{
    ViewBag.Title = "Index";
}



@if (ViewBag.displayMenu == "Yes")
{
    <h1>Welcome Employee. Now you can do things.</h1>
    <h3>
        <li>@Html.ActionLink("Set Up", "Create", "Employees")</li>
    </h3>

}
else
{

    <h2>  Welcome <strong>@ViewBag.Name</strong>  </h2>

    <li>@Html.ActionLink("Set Up Account", "Create", "Customers")</li>
    <li>@Html.ActionLink("Edit Info", "Edit", "Customers")</li>
    <li>@Html.ActionLink("Select Pickup Day", "EditPickup", "Customers")</li>
    <li>@Html.ActionLink("Schedule One Time Pick Up", "OneTimePickUp", "Customers")</li>
    <li>@Html.ActionLink("Check Balance", "CheckBalance", "Customers")</li>
    <li>@Html.ActionLink("Pause Pick Ups", "PausePickUps", "Customers")</li>
}
