@{
    ViewBag.Title = "Index";
}



@if (ViewBag.displayMenu == "Yes")
{
    <h2>  Welcome <strong>@ViewBag.Name</strong>  </h2>

    <li>@Html.ActionLink("Set Up Account", "Create", "Employees")</li>
    <li>@Html.ActionLink("View Today's Pick Ups", "ViewPickUps", "Employees")</li>


}
else
{

    <h2>  Welcome <strong>@ViewBag.Name</strong>  </h2>

    <li>@Html.ActionLink("Set Up Account", "Create", "Customers")</li>
    <li>@Html.ActionLink("Edit Info", "Edit", "Customers")</li>
    <li>@Html.ActionLink("Select Pickup Day", "EditPickup", "Customers")</li>
    <li>@Html.ActionLink("Schedule One Time Pick Up", "OneTimePickUp", "Customers")</li>
    <li>@Html.ActionLink("Check Balance", "CheckBalance", "Customers")</li>
    <li>@Html.ActionLink("Pause Pick Ups", "PausePickUps", "Customers")</li>
}
