@model Trash.Models.Customer

<div>
    <h4>Customer</h4>
    <hr />
    <dl class="dl-horizontal">
        

        

       


        <dt>
            @Html.DisplayNameFor(model => model.Balance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Balance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MonthlyCharge)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MonthlyCharge)
        </dd>

        

        

    </dl>
</div>
<p>
    
    @Html.ActionLink("Back to Menu", "Index", "User")
</p>
